<header class="content / section section_hero">
  <article class="">
    <small class="type_logo">
      <span>Pernambuco</span>
      <span>contra</span>
      <span>o</span>
      <span>vírus</span>
    </small>
    <h1>Bora se ajudar?</h1>
    <p>O isolamento social tem sido o remédio necessário para mitigar os impactos da pandemia que estamos vivendo, mas, como muitos remédios, ele pode deixar um gosto amargo na boca. Não estar perto de quem amamos, problemas econômicos e o aumento do número de pessoas em situação de vulnerabilidade, são alguns exemplos dos efeitos colaterais pelos quais estamos passando.</p>
    <p>Todos temos um papel a desempenhar na luta contra o Coronavírus, e o <strong>“Bora se Ajudar?”</strong> veio trazer um catálogo de várias iniciativas em Pernambuco. Aqui, você vai entender formas de contribuir com essas iniciativas: Doação (financeira e de itens), Apoio a pequenas empresas e Voluntariado.</p>
    <p>Escolha a iniciativa que você mais se identifica e vamos ajudar no combate à pandemia.</p>
  </article>

  <%= image_tag('illustration_gift.png', srcset: { 'illustration_gift@2x.png': '2x' }, class: '', alt: 'Ilustração de pessoa oferecendo doações') %>
</header>

<main>
  <header id="header" class="header">
    <div class="content -larger">
      <small class="type_logo">
        <span>Pernambuco</span>
        <span>contra</span>
        <span>o</span>
        <span>vírus</span>
      </small>
      <button id="button_menu" class="button button_menu" type="button" alt="Abrir e fechar menu">
        <%= inline_svg_tag "icon-menu.svg", class:'menu_icon' %>
      </button>
      <nav>
        <ul>
          <li><a href="#section_iniciatives" data-target-section="section_iniciatives">Iniciativas</a></li>
          <li><a href="#section_about" data-target-section="section_about">Sobre o projeto</a></li>
          <li><a href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div id="section_iniciatives" class="main_wrapper">
    <article class="section section_list-text / content">
      <h2>Iniciativas em Pernambuco</h2>
      <p>Há várias maneiras de ajudar pessoas mais vulneráveis e em situações de risco. Aqui dividimos em categorias e listamos algumas delas para te ajudar a escolher a melhor (ou as melhores) forma(s) para você contribuir.</p>
    </article>

    <section class="section section_list / content -larger">
      <header>
        <h3>Doação financeira</h3>
        <a class="button button_link" href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a>
      </header>
      <section class="list -blue">
        <header class="list_header">
          <ul class="list_columns">
            <li>Instituição</li>
            <li>Descrição da iniciativa</li>
            <li>Cidade</li>
            <li>Site/Instagram</li>
          </ul>
        </header>
        <ul>
          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Pernambuco Solidário</strong></li>
              <li>O Governo de Pernambuco se uniu a organizações sem fins lucrativos nesta luta global e criou o programa “Pernambuco Solidário contra o Coronavírus”, que vai reforçar as ações de amparo a pessoas em situação de vulnerabilidade social e abastecer a rede pública de saúde com EPIs, equipamentos hospitalares e outros materiais necessários ao combate do Covid-19.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.pesolidario.com.br">https://www.pesolidario.com.br</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Vizinhos Solidários</strong></li>
              <li>Doando amor em forma de alimento.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/vizinhos.solidarios">https://www.instagram.com/vizinhos.solidarios</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Casa da Esperança</strong></li>
              <li>Instituição sem fins lucrativos, situada na comunidade das Carolinas, Jaboatão dos Guararapes, Pernambuco. Hoje, a instituição atende mais de 253 pessoas em diversos programas sociais.</li>
              <li data-th="Cidade">Jaboatão dos Guararapes</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://casaesperanca.org.br">https://casaesperanca.org.br</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Casa Criatura</strong></li>
              <li>Laboratório criativo. Em parceria com outras iniciativas, estão produzindo EPIs para prevenção do COVID-19. Aceitam doações financeiras para cobrir os custos de produção.</li>
              <li data-th="Cidade">Olinda</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/casacriatura">https://www.instagram.com/casacriatura</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Projetos Vivência</strong></li>
              <li>Os Projetos Vivência nessa calamidade do Covid19 está dando alimentos e suporte a pessoas em situação de rua e famílias com crianças e idosos em vulnerabilidade. Atualmente possuem uma campanha de arrecadação financeira no portal benfeitoria.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/casacriatura">https://www.instagram.com/p/B_FfmsjHfnD/</a></li>
            </ul>
          </li>
        </tbody>
      </section>
    </section>

    <section class="section section_list -has-image / content -larger">
      <header>
        <h3>Doação de itens (cesta básica, EPIs...)</h3>
        <a class="button button_link" href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a>
      </header>
      <%= image_tag('illustration_donation.png', srcset: { 'illustration_donation@2x.png': '2x' }, class: 'image_items', role: 'presentation') %>
      <section class="list -red">
        <header class="list_header">
          <ul class="list_columns">
            <li>Instituição</li>
            <li>Descrição da iniciativa</li>
            <li>Cidade</li>
            <li>Site/Instagram</li>
          </ul>
        </header>
        <ul>
          <li class="list_row">
            <ul class="list_columns">
              <li><strong>ONG Juntos</strong></li>
              <li>Através de doações recebidas, a ONG repassa aos moradores de ruas, às creches e asilos, aos lares de animais, dentre outros, comidas, roupas, remédios, etc. Durante as ações, farão a transmissão via redes sociais e posteriormente toda a prestação de contas será realizada no site (planilhas, balanços, notas fiscais, extratos bancários, etc).</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="http://ongjuntos.org.br/formas-de-doar">http://ongjuntos.org.br/formas-de-doar</a></li>
            </ul>
          </li>
          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Livroteca Brincante do Pina</strong></li>
              <li>A instituição está arrecadando diversos itens para distribuição de cestas básicas e materiais de limpeza. Doe alimentos, água, álcool 70%, sabão, detergente neutro, máscaras para as famílias da Comunidade do Bode-Pina-Recife.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/livrotecabrincantedopina">https://www.instagram.com/livrotecabrincantedopina</a></li>
            </ul>
          </li>
        </tbody>
      </section>
    </section>

    <section class="section section_list / content -larger">
      <header>
        <h3>Apoio a pequenas empresas e empreendedores</h3>
        <a class="button button_link" href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a>
      </header>
      <section class="list -yellow">
        <header class="list_header">
          <ul class="list_columns">
            <li>Instituição</li>
            <li>Descrição da iniciativa</li>
            <li>Cidade</li>
            <li>Site/Instagram</li>
          </ul>
        </header>
        <ul>
          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Armazém do Campo Recife</strong></li>
              <li>O Movimento dos Trabalhadores Rurais Sem Terra (MST) abriu um espaço com mais de 120 produtos à venda, oriundos de assentamentos e de parcerias com agricultores familiares. Agora estão fazendo entregas dos produtos semanalmente.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/armazemdocamporecife">https://www.instagram.com/armazemdocamporecife</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Stella Artois em parceria com o ChefsClub</strong></li>
              <li>Ajude seu restaurante preferido comprando um voucher que vale R$100 com 50% de desconto, valor final R$50,00 e use quando ele reabrir.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.apoieumrestaurante.com.br">https://www.apoieumrestaurante.com.br</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Bairro Tem! (UFPE)</strong></li>
              <li>No Bairro Tem! é um esforço voluntário e coletivo, criado como uma forma de oferecer estímulo aos comerciantes de bairro, conectando-os às demandas das pessoas em isolamento social.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="http://www.nobairrotem.com.br">http://www.nobairrotem.com.br</a></li>
            </ul>
          </li>
        </tbody>
      </section>
    </section>

    <section class="section section_list -has-image / content -larger">
      <header>
        <h3>Voluntariado</h3>
        <a class="button button_link" href="https://forms.gle/6U9QGLcKynrAD17T8" target="_blank">Submeter iniciativa</a>
      </header>
      <%= image_tag('illustration_talk.png', srcset: { 'illustration_talk@2x.png': '2x' }, class: 'image_talk', role: 'presentation') %>
      <section class="list -green">
        <header class="list_header">
          <ul class="list_columns">
            <li>Instituição</li>
            <li>Descrição da iniciativa</li>
            <li>Cidade</li>
            <li>Site/Instagram</li>
          </ul>
        </header>
        <ul>
          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Novo Jeito</strong></li>
              <li>ONG que realiza ações solidárias como a distribuição de alimentos para pessoas em situação de vulnerabilidade.</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.facebook.com/novojeito">https://www.facebook.com/novojeito</a></li>
            </ul>
          </li>

          <li class="list_row">
            <ul class="list_columns">
              <li><strong>Unificados pela PSR</strong></li>
              <li>União de Projetos Sociais que atuam em prol da População em Situação de Rua</li>
              <li data-th="Cidade">Recife</li>
              <li data-th="Site/Instagram"><a class="-small" href="https://www.instagram.com/unificadospsr">https://www.instagram.com/unificadospsr</a></li>
            </ul>
          </li>
        </tbody>
      </section>
    </section>
  </div>
</main>

<footer id="section_about">
  <div class="content">
    <%= image_tag('illustration_team.png', srcset: { 'illustration_team@2x.png': '2x' }, class: '', alt: 'Ilustração de várias faces diferentes representando uma equipe diversa') %>
    <article>
      <h3>Sobre o projeto</h3>
      <p>Somos parte da Guava, um studio de software de Recife, e a gente queria contribuir de alguma forma para minimizar os impactos do COVID-19 em Pernambuco. Temos várias ideias, e como já tínhamos várias indicações de boas iniciativas que a gente tava vendo surgir, decidimos começar listando-as: um catálogo para dar visibilidade e para você saber como pode contribuir nesse momento!</p>
      <p>Quer entrar em contato com a gente? Só mandar um email pra: <a href="mailto: boraseajudar@guava.com.br">boraseajudar@guava.com.br</a></p>
      <small>
        em parceria com a
        <a href="https://guava.software/" target="_blank"><%= image_tag('guava_logo.png', srcset: { 'guava_logo@2x.png': '2x' }, class: '', alt: 'Guava Software') %></a>
      </small>
    </article>
  </div>
</footer>
