<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Lista de Iniciativas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Roboto:wght@900&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
